extends layout
block stylesheets
    link(rel="stylesheet", href="/css/article.min.css")
block content
    .pure-g
        include includes/sidebar
        .main.pure-u-1.pure-u-md-3-4
            .article-box
                - var art = article;
                h4.title
                    a #{art.title}
                h5.sub-title(data-authorId="#{art.authorId}")
                    | #{art.author} || #{art.createTime}
                    if(user && user.username == art.author)
                        |  ||
                        a(href="/publish?articleId=#{art._id}") 编辑
                        |  ||
                        a.J_delArticle(href="javascript:;" data-articleId="#{art._id}" ) 删除
                p !{art.content}
block scripts
    script.
        require(['main'], function () {
            require(['page/article']);
        });