extends layout
block stylesheets
    link(rel="stylesheet", href="/css/article.min.css")
block content
    .pure-g
        include includes/sidebar
        .main.pure-u-1.pure-u-md-3-4
            .article-layout
                .article-box
                    - var art = article;
                    h4.title( data-articleId="#{art._id}" data-authorId="#{art.authorId}" )
                        a #{art.title}
                    h5.sub-title
                        | #{art.author} || #{art.createTime}
                        if(user && user.username == art.author)
                            |  ||
                            a(href="/publish?articleId=#{art._id}") 编辑
                            |  ||
                            a.J_delArticle(href="javascript:;" ) 删除
                    .markdown
                        p !{art.content}
                ul.comment-box
                    each item,i in comments
                        li
                            .head
                                p
                                    a #{item.author.username}
                                p
                                    span #{ i + 1}
                                    | 楼
                                    em
                            .body #{ item.content}
                            .like 喜欢 2
                .comment-input
                    if(user)
                        textarea#comment
                        a.J_comment.pure-button.pure-button-primary 发表评论
                    else
                        div
                            a(href='/login') 登录
                            | 后可以发布评论
block scripts
    script.
        require(['main'], function () {
            require(['page/article']);
        });