extends layout
block stylesheets
    link(rel="stylesheet", href="/css/index.min.css")
block content
    .pure-g
        include includes/sidebar
        div.main.pure-u-1.pure-u-md-3-4
            ul.article-list
                each item in articles
                    li.animated.fadeIn
                        h4
                            a(href="/article/#{item._id}" target="_blank") #{item.title}
                        h5
                            em By
                            if(user && user.username == item.author)
                                span.mine #{item.author}
                            else
                                span.other #{item.author}
                            em Under
                            span.type #{item.type}
                            em At
                            span.time #{item.createTime}

                        //p !{item.content}
            if(articles.length = 2)
                div.tc.mt20.mb20
                    button#loadMore.pure-button.pure-button-primary 点击加载更多
block scripts
    script.
        require(['main'], function () {
            require(['page/index']);
        });