extends layout
block stylesheets
    link(rel="stylesheet", href="/css/index.min.css")
block content
    .pure-g
        include includes/sidebar
        div.main.pure-u-1.pure-u-md-3-4
            ul.article-list
                each item in articles
                    li
                        h4
                            a(href="/article/#{item._id}") #{item.title}
                        h5
                            | #{item.username} || #{item.time.minute} || #{item.type}
                            if(user && user.username == item.username)
                                |  ||
                                a(href="/publish?articleId=#{item._id}") 编辑
                                |  ||
                                a.J_delArticle(href="javascript:;" data-id="#{item._id}" ) 删除
                        p #{item.info}
block scripts
    script.
        require(['main'], function () {
            require(['page/index']);
        });