extends ../layout
block stylesheets
    link(rel="stylesheet", href="/css/index.min.css")
block content
    .pure-g
        include ../includes/sidebar
        .main.pure-u-1.pure-u-md-3-4
            .main-layout
                ul.article-list
                    each item in articles
                        li(class="#{item.indexImg ? '' : 'noImg'}")
                            h4
                                a(href="/article/#{item._id}") #{item.title}
                            h5
                                em 标签:
                                span(style="#{'background-color:'+item.typeColor}").type #{item.type}
                                span.time #{item.createTime}
                            p 浏览(#{item.pv}) 评论(#{item.commentsCount})
                            //p !{item.content}
                            if(item.indexImg)
                                img(src="#{item.indexImg}")
                if(articles.length >= 20)
                    div.tc.mt20.mb20
                        button#loadMore.pure-button.pure-button-primary 点击加载更多
                else
                    .tc.mt20 没有更多了...
block scripts
    script.
        require(['main'], function () {
            require(['page/index']);
        });