extends ../layout
block stylesheets
    link(rel="stylesheet", href="/css/userMessage.min.css")
block content
    .pure-g
        include ../includes/sidebar
        .main.pure-u-1.pure-u-md-3-4
            .main-layout
                .tabs-box
                    h5 我的消息(#{comments && comments.length || 0}条)
                    ul.comment-list
                        if(comments && comments.length)
                            each item in comments
                                li
                                    a.J_finishRead(href="#{'/article/'+item.articleId+'#'+item._id}" data-id="#{item._id}")
                                        span.nickname #{item.nickname}
                                        span.time #{item.createTime}
                                        p #{item.content}
                        else
                            li 木有新评论...
block scripts
    script.
        require(['main'], function () {
            require(['page/userMessage']);
        });